.classpath

.project

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

chromedrivers/.DS_Store

chromedriver.log

*.class

target-eclipse/classes/auth/resetPassword.gsp

target-eclipse/classes/auth/login.gsp

target-eclipse/classes/auth/lostPassword.gsp

target-eclipse/classes/auth/lostPassword.gsp

target-eclipse/classes/auth/updatePassword.gsp

target-eclipse/classes/_testemails/i18ntest.gsp

target-eclipse/classes/_testemails/test.gsp

target/stacktrace.log

target-eclipse/classes/_testemails/tagtest.gsp

target-eclipse/classes/pdf/_demo2.gsp

target-eclipse/classes/pdf/demo3.gsp

target-eclipse/classes/report_pt_BR.properties

target-eclipse/classes/pdf/demo.gsp

target-eclipse/classes/pdf/demo2.gsp

target-eclipse/classes/pdf/sampleInclude.gsp

target-eclipse/classes/report.properties

target-eclipse/classes/messages_fr.properties

target-eclipse/classes/shiroRole/create.gsp

target-eclipse/classes/shiroRole/edit.gsp

target-eclipse/classes/shiroRole/list.gsp

target-eclipse/classes/shiroUser/create.gsp

target-eclipse/classes/shiro.properties

target-eclipse/classes/shiroUser/list.gsp

target-eclipse/classes/shiroUser/edit.gsp

target/test-reports/TEST-functional-cucumber-Authentication Process.xml

target-eclipse/classes/shiroUser/show.gsp

target/test-reports/TEST-functional-cucumber-Dissertation Tests.xml

target/test-reports/TEST-functional-cucumber-Add Ferramenta.xml

target/test-reports/TEST-functional-cucumber-BookChapter.xml

target/test-reports/TEST-functional-cucumber-member.xml

target-eclipse/classes/shiroRole/show.gsp

target/test-reports/TEST-functional-cucumber-journal article.xml

target/test-reports/TEST-functional-cucumber-record.xml

target/test-reports/TEST-functional-cucumber-technical report.xml

target/test-reports/TEST-functional-cucumber-Reports.xml

target/test-reports/TESTS-TestSuites.xml

target/test-reports/TEST-functional-cucumber-research group.xml

target/test-reports/TEST-functional-cucumber-research line.xml

target/test-reports/html/10_research line.html

target/test-reports/html/0_Add Ferramenta.html

target/test-reports/html/11_technical report.html

target/test-reports/html/2_BookChapter.html

target/test-reports/html/3_Dissertation Tests.html

target/test-reports/html/4_Reports.html

target/test-reports/html/8_record.html

target/test-reports/html/1_Authentication Process.html

target/test-reports/html/7_member.html

target/test-reports/html/6_journal article.html

target/test-reports/html/9_research group.html

target/test-reports/html/index.html

target/test-reports/html/all.html

target/test-reports/html/failed.html

target/test-reports/html/stylesheet.css

target/test-reports/plain/TEST-functional-cucumber-Add Ferramenta-err.txt

target-eclipse/classes/messages.properties

target-eclipse/classes/report_us.properties

target-eclipse/classes/jasperDemo/demo.gsp

target-eclipse/classes/_testemails/testhtml.gsp

target/test-reports/plain/TEST-functional-cucumber-Add Ferramenta.txt

target/test-reports/plain/TEST-functional-cucumber-Authentication Process-err.txt

target/test-reports/plain/TEST-functional-cucumber-Authentication Process-out.txt

target/test-reports/plain/TEST-functional-cucumber-BookChapter-err.txt

target/test-reports/plain/TEST-functional-cucumber-Authentication Process.txt

target/test-reports/plain/TEST-functional-cucumber-BookChapter-out.txt

target/test-reports/plain/TEST-functional-cucumber-Add Ferramenta-out.txt

target/test-reports/plain/TEST-functional-cucumber-Dissertation Tests-err.txt

target/test-reports/plain/TEST-functional-cucumber-Dissertation Tests.txt

target/test-reports/plain/TEST-functional-cucumber-Dissertation Tests-out.txt

target/test-reports/plain/TEST-functional-cucumber-Reports-out.txt

target/test-reports/plain/TEST-functional-cucumber-Reports-err.txt

target/test-reports/plain/TEST-functional-cucumber-Reports.txt

target/test-reports/plain/TEST-functional-cucumber-conferencia-err.txt

target/test-reports/plain/TEST-functional-cucumber-conferencia-out.txt

target/test-reports/plain/TEST-functional-cucumber-journal article-err.txt

target/test-reports/plain/TEST-functional-cucumber-conferencia.txt

target/test-reports/plain/TEST-functional-cucumber-journal article-out.txt

target/test-reports/plain/TEST-functional-cucumber-member-out.txt

target/test-reports/plain/TEST-functional-cucumber-member-err.txt

target/test-reports/plain/TEST-functional-cucumber-record.txt

target/test-reports/plain/TEST-functional-cucumber-journal article.txt

target/test-reports/plain/TEST-functional-cucumber-record-err.txt

target/test-reports/plain/TEST-functional-cucumber-research group.txt

target/test-reports/plain/TEST-functional-cucumber-research group-err.txt

target/test-reports/plain/TEST-functional-cucumber-research group-out.txt

target/test-reports/plain/TEST-functional-cucumber-research line-err.txt

target/test-reports/plain/TEST-functional-cucumber-research line-out.txt

target/test-reports/plain/TEST-functional-cucumber-research line.txt

target/test-reports/plain/TEST-functional-cucumber-technical report-err.txt

target/test-reports/plain/TEST-functional-cucumber-technical report-out.txt

target/test-reports/plain/TEST-functional-cucumber-technical report.txt

xmlimported.xml

target-eclipse/classes/jasper.properties

target/test-reports/html/5_conferencia.html

target/test-reports/plain/TEST-functional-cucumber-BookChapter.txt

target/test-reports/plain/TEST-functional-cucumber-member.txt

target/test-reports/plain/TEST-functional-cucumber-record-out.txt

target/test-reports/TEST-functional-cucumber-conferencia.xml

target-eclipse/classes/report_fr.properties

target-eclipse/classes/error.gsp

web-app/uploads/IICSE-0.pdf

web-app/uploads/TCS-2

web-app/uploads/TCS.pdf

web-app/uploads/null

web-app/uploads/teste2.pdf

web-app/uploads/teste3Dissertacao.pdf

web-app/uploads/TCS-0.pdf

web-app/uploads/SCP.pdf

web-app/uploads/TCS-1.pdf

web-app/uploads/NGSPL.pdf

web-app/uploads/NGSPL-0.pdf

web-app/uploads/IICSE.pdf

web-app/uploads/TCS-3

.DS_Store

web-app/uploads/emergo.pdf

web-app/uploads/novaferramenta.pdf

web-app/uploads/target.pdf

web-app/uploads/TCS-44.pdf

web-app/uploads/TCS-55.pdf

web-app/uploads/TCS-66.pdf

web-app/uploads/TCS-77.pdf

web-app/uploads/TCS-88.pdf

web-app/uploads/ccfinder.pdf

web-app/uploads/teste2.txt

web-app/uploads/teste6.txt

target/test-reports/plain/TEST-functional-cucumber-Ferramenta-err.txt

target/test-reports/TEST-functional-cucumber-Ferramenta.xml

target/test-reports/html/0_Authentication Process.html

target/test-reports/html/1_BookChapter.html

target/test-reports/html/2_Dissertation Tests.html

target/test-reports/html/3_Ferramenta.html

target/test-reports/plain/TEST-functional-cucumber-Ferramenta-out.txt

target/test-reports/plain/TEST-functional-cucumber-Ferramenta.txt

web-app/uploads/HSPLE.pdf

web-app/uploads/NGSPL-2.pdf

target/test-reports/html/0_BookChapter.html

web-app/uploads/Deletedissertation.txt

web-app/uploads/Dissertationduplicated.txt

web-app/uploads/Dissertationduplicated2.txt

web-app/uploads/Dissertationwithoutschool.txt

web-app/uploads/Editdissertation.txt

web-app/uploads/IICSE-1.pdf

web-app/uploads/NLS.pdf

web-app/uploads/Newdissertation.txt

web-app/uploads/SPLC.pdf

web-app/uploads/Joee.pdf

libpeerconnection.log

target/test-reports/html/0_Ferramenta.html

target-eclipse/classes/twitter4j/index.gsp

target-eclipse/classes/twitter4j/requestToken.gsp

target/test-reports/html/12_technical report.html

target/test-reports/html/11_research line.html

target/test-reports/html/10_research group.html

target/test-reports/TEST-functional-cucumber-Visitante Externo.xml

target-eclipse/classes/twitter4j/verifyPin.gsp

target-eclipse/classes/twitter4j/status.gsp

target/test-reports/html/5_Visitante Externo.html

target/test-reports/html/9_record.html

target/test-reports/plain/TEST-functional-cucumber-Visitante Externo-err.txt

target/test-reports/plain/TEST-functional-cucumber-Visitante Externo-out.txt

target/test-reports/html/7_journal article.html

target/test-reports/html/8_member.html

target/test-reports/html/6_conferencia.html

target/test-reports/plain/TEST-functional-cucumber-Visitante Externo.txt

target/test-reports/plain/TEST-functional-cucumber-news-err.txt

target/test-reports/html/1_BibtexImport.html

target/test-reports/html/5_Reports.html

target/test-reports/html/7_conferencia.html

target/test-reports/plain/TEST-functional-cucumber-BibtexImport-out.txt

target/test-reports/html/14_technical report.html

target/test-reports/html/8_journal article.html

target/test-reports/html/4_Ferramenta.html

target/test-reports/TEST-functional-cucumber-BibtexImport.xml

target/test-reports/html/13_research line.html

target/test-reports/html/6_Visitante Externo.html

target/test-reports/html/12_research group.html

target/test-reports/html/11_record.html

target/test-reports/html/10_news.html

target/test-reports/TEST-functional-cucumber-news.xml

target/test-reports/html/9_member.html

target/test-reports/plain/TEST-functional-cucumber-BibtexImport.txt

proAuthDb.h2.db

prodDb.h2.db

target/test-reports/plain/TEST-functional-cucumber-BibtexImport-err.txt

target/test-reports/plain/TEST-functional-cucumber-news-out.txt

target/test-reports/plain/TEST-functional-cucumber-news.txt

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/modules.xml

.idea/workspace.xml

.idea/uiDesigner.xml

.idea/vcs.xml

rgms-grailsPlugins.iml

rgms.iml

.idea/scopes/scope_settings.xml

.idea/misc.xml

.idea/encodings.xml

target/test-reports/html/0_Dissertation Tests.html

target/test-reports/TEST-functional-cucumber-Visit.xml

target/test-reports/html/6_Visit.html

target/test-reports/plain/TEST-functional-cucumber-Visit-err.txt

target/test-reports/plain/TEST-functional-cucumber-Visit-out.txt

target/test-reports/plain/TEST-functional-cucumber-Visit.txt

.idea/*

*.swp

.idea/*

target/test-reports/*

target/test-reports/TEST-functional-cucumber-orientations.xml

target/test-reports/html/11_orientations.html

target/test-reports/html/12_record.html

target/test-reports/html/13_research group.html

target/test-reports/html/14_research line.html

target/test-reports/html/15_technical report.html

target/test-reports/plain/TEST-functional-cucumber-orientations-err.txt

target/test-reports/plain/TEST-functional-cucumber-orientations-out.txt

target/test-reports/plain/TEST-functional-cucumber-orientations.txt

target/classes
